h1 {
    font-family: 'Courier New', Courier, monospace;
    color: rgba(233, 181, 10, 0.842);
    background-color: rgba(1, 1, 1, 0.753);
    text-align: center;
}
.one,
.two, 
.three {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: peru;
    text-align: justify;
}
.title {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: rgba(1, 1, 1, 0.356);
    color: rgb(255, 196, 0);
}
h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
    color: rgb(53, 50, 27);
}
img {
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 45%;
    border: 1px solid rgba(54, 59, 2, 0.712);
    padding: 1em;
    margin: 0 auto
    
}
ul{
    font-family: Arial, Helvetica, sans-serif;
    width: 40%;
    border: 1px solid rgba(54, 59, 2, 0.712);
    padding: 1.5em;
    margin: 0 auto
}
ol {
    font-family: Arial, Helvetica, sans-serif;
    width: 55%;
    border: 1px solid rgba(54, 59, 2, 0.712);
    padding: 1.5em;
    margin: 0 auto
}